.example-header-image {

    background-image: url('https://media.istockphoto.com/id/1316420668/vector/user-icon-human-person-symbol-social-profile-icon-avatar-login-sign-web-user-symbol.jpg?s=612x612&w=0&k=20&c=AhqW2ssX8EeI2IYFm6-ASQ7rfeBWfrFFV4E87SaFhJE=');

    background-size:cover;
    width: 200px;
    height: 200px;
    


}
.sectionformat{
   float: inline-start;
}
