
<div class="row">
    <div class="col-md-3">
        <mat-card style="width:300px; height: 750px; background-color: antiquewhite;">
            <mat-card-content align="center">
              <div mat-card-avatar class="example-header-image"></div>
              
              <mat-card-title>Driver</mat-card-title>
              <mat-card-subtitle>Vishal Maurya</mat-card-subtitle>
                <br>
              <p>
                <b>Car Number</b> : MP09MI3178
              </p>
              <p>
                <b>Car Name</b> : Swift
              </p>
              <h1 style="color: green;">Successfully registered</h1>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-8">
        <br>
        <button mat-raised-button style="float:right; background-color: red;color: white; width: 100px;">Log Out</button>

        <mat-card style="width:1000px; height: 100px; margin-top: 80px;">
            <mat-card-content>
                <mat-card-title>Customer</mat-card-title>
              <mat-card-subtitle>Customer Name </mat-card-subtitle>
              <h4>From City to City</h4>
              <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="accent">Accent</button> 
            </mat-card-content>
          </mat-card>

          <mat-card style="width:1000px; height: 100px; margin-top: 80px;">
            <mat-card-content>
                <mat-card-title>Customer</mat-card-title>
              <mat-card-subtitle>Customer Name </mat-card-subtitle>
              <h4>From City to City</h4>
              <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="accent">Accent</button> 
            </mat-card-content>
          </mat-card>
          <mat-card style="width:1000px; height: 100px; margin-top: 80px;">
            <mat-card-content>
                <mat-card-title>Customer</mat-card-title>
              <mat-card-subtitle>Customer Name </mat-card-subtitle>
              <h4>From City to City</h4>
              <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="accent">Accent</button> 
            </mat-card-content>
          </mat-card>
          <mat-card style="width:1000px; height: 100px; margin-top: 80px;">
            <mat-card-content>
                <mat-card-title>Customer</mat-card-title>
              <mat-card-subtitle>Customer Name </mat-card-subtitle>
              <h4>From City to City</h4>
              <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="accent">Accent</button> 
            </mat-card-content>
          </mat-card>
    </div>
    

</div>
