
.vid
{
    align-items: center;
    justify-content: center;   
    padding: 5px;
    margin-left: 4px;
    margin-top: 2px;
    position: relative;
}


/* .vidLen{
    padding:  0;
    margin: -100px;
    width: 50vh;
    height: 400px;

} */