.example-card {
    
    min-height : 200px ;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .material-symbols-outlined
  {
    color: green;
  }
  .payment
  {
    color: darkgoldenrod;
  }
 
