
<div class="container" style="margin-top: 90px;">
  <h1 style="text-align: center">You Can Contact Here!!!</h1>
<div class="row">
    <div class="column" style="background-color:#aaa;">
  <div class="con">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input type="email" matInput  placeholder="Name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput  placeholder="Ex. pat@example.com">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Contact Number</mat-label>
        <input type="email" matInput  placeholder="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary">Submit</button>

    </form>
  </div>
</div>
<div class="column" style="border: 1px;">
 <img mat-card-image src="https://images.gizbot.com/img/2019/09/5-best-offline-gps-navigation-apps-for-android-1569662262.jpg"
 alt="Map"> 
</div>
</div>
</div>

